.center {
    width:100%;
    margin-left:5%;
    margin-right:5%;
    font-size: 13px;
    overflow: hidden;
    font-family: "Helvetica Neue", Arial, serif;

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border: 1px solid black;*/
}

.center td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.center th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: inherit;
    display: table-cell;
    /*vertical-align: inherit;*/
    font-weight: bold;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 15px;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

p {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13px;
}